#axis-example .x.axis line {
	stroke: #fff;
}

.marginal svg {
	font-size: 0.7em;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.grid line {
	fill: none;
	stroke: white;
	shape-rendering: crispEdges;
}
.grid .major {
	stroke-width: 3px;
}
.grid .minor {
	stroke-width: 1px;
}

path.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

path.area {
	fill: #e7e7e7;
}

rect.background {
	fill: #ddd;
}

circle.dot, rect.bar {
	fill: steelblue;
	stroke: none;
}
