/*@import url(http://fonts.googleapis.com/css?family=Macondo+Swash+Caps);*/
/*@import url(http://fonts.googleapis.com/css?family=Poiret+One);*/
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(http://fonts.googleapis.com/css?family=Cutive);
@import url(http://fonts.googleapis.com/css?family=Exo+2);

body {
    margin: 0 auto 0 auto;
    width: 35rem;
    padding: 4rem 19rem 6rem 1rem;
    position: relative;
    font-family: 'PT Serif', serif;
    line-height: 1.5;
}

p.mathjax-macros {
    display: none;
}

a {
    color: #e6072a;
    text-decoration: none;
}
a:visited {
    color: #cb4b16;
}

.fullwidth, header, footer {
    width: 53rem;
}

aside, .marginal {
    width: 16rem;
    position: absolute;
    right: 0;
    padding-right: 1rem;
    padding-left: 0.75rem;
    border-left: thin solid black;
    text-align: right;
    font-size: smaller;
    font-family: 'Exo 2', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cutive', monospace;
}

header, footer {
    position: relative;
    text-align: justify;
    font-family: 'Exo 2', sans-serif;
}

/* Wow, this is dumb. Just to get two boxes to spread across a line. */
header:after, footer:after {
    content: "";
    display: inline-block;
    width: 100%;
}

header h1 {
    display: inline-block;
    max-width: 40rem;
    position: relative;
    font-family: 'Josefin Slab', sans-serif;
    font-size: xx-large;
    text-align: right;
}

header .byline {
    display: inline-block;
    font-size: smaller;
    font-weight: normal;
    text-align: left;
}

header .comment-on {
    font-family: 'Exo 2', sans-serif;
    font-size: small;
    font-weight: normal;
    margin-right: 1em;
}

header .comment-byline {
    position: absolute;
    top: -1.5em;
    right: 0;
    font-family: 'Exo 2', sans-serif;
    font-size: small;
    font-weight: normal;
}

address {
    font-style: normal;
}

footer {
    font-size: smaller;
    margin-top: 4rem;
}

footer > * {
    display: inline-block;
}

footer ol {
    list-style-type: none;
    padding: 0;
}

footer li {
    display: inline;
}

footer li:not(:first-child):before {
    content: " / ";
}

figure {
    font-family: 'Exo 2', sans-serif;
    font-size: smaller;    
}
